<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>XHHHomeViewController</string>
		<key>title</key>
		<string>首页</string>
		<key>image</key>
		<string>home</string>
		<key>selectedImage</key>
		<string>home1</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>XHHProductViewController</string>
		<key>title</key>
		<string>产品</string>
		<key>image</key>
		<string>aixin</string>
		<key>selectedImage</key>
		<string>aixin1</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>XHHOrderViewController</string>
		<key>title</key>
		<string>订单</string>
		<key>image</key>
		<string>jilu</string>
		<key>selectedImage</key>
		<string>jilu1</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>XHHToolViewController</string>
		<key>title</key>
		<string>工具</string>
		<key>image</key>
		<string>fenlei</string>
		<key>selectedImage</key>
		<string>feilei1</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>XHHMeViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>image</key>
		<string>wo</string>
		<key>selectedImage</key>
		<string>wo1</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
</array>
</plist>
